<!doctype html>
{% load static %}
<html class="no-js" lang="az">

<head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Dental harmony - Stamotoloji klinika</title>
      <meta name="robots" content="noindex, follow">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Favicon -->
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/fevicon.png' %}">
      <!-- CSS
         ============================================ -->
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- Fontawesome -->
      <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
      <!-- Flaticon -->
      <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
      <!-- optico Icons -->
      <link rel="stylesheet" href="{% static 'css/pbminfotech-base-icons.css' %}">
      <!-- Themify Icons -->
      <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
      <!-- Slick -->
      <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
      <!-- Magnific -->
      <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
      <!-- AOS -->
      <link rel="stylesheet" href="{% static 'css/aos.css' %}">
      <!-- Shortcode CSS -->
      <link rel="stylesheet" href="{% static 'css/shortcode.css' %}">
      <!-- Base CSS -->
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <!-- Style CSS -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   </head>
   <body>
    <!-- Page Wrapper -->
    <div class="page-wrapper">

		<!-- Header Main Area -->
		{% include 'header.html' %}
		<!-- Header Main Area End Here -->

		<!-- Title Bar -->
	
			<div class=""></div>

		<!-- Title Bar End-->

		<!-- Page Content -->
		<div class="page-content">
			<div class="head-bar">
				<h1 class="head-bar-text">Dental Harmony klinikası haqqında</h1>
			</div>
			<!-- Service Start -->
            <section class="section-xl">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="pbmit-ihbox-style-15">
								<div class="pbmit-ihbox-box">
									<div class="pbmit-icon-wrap d-flex align-items-center">
										<div class="pbmit-ihbox-icon">
											<div class="pbmit-ihbox-icon-wrapper">
												<div class="pbmit-icon-wrapper pbmit-icon-type-icon">
													<i class="pbmit-xcare-icon pbmit-xcare-icon-doctor"></i>
												</div>
											</div>
										</div>
									</div>
									<h2 class="pbmit-element-title">Həkimlərimiz</h2>
									<div class="pbmit-content-wrapper">
										<div class="pbmit-heading-desc">Stomatoloji klinikamızdakı həkimlər peşəkarlıq və yüksək keyfiyyətlə xidmətinizdədir.
										</div>
									</div>
								</div>
								<div class="pbmit-ihbox-btn">
									<a href="#">
										<span class="pbmit-button-text">Ətraflı bax</span>
										<span class="pbmit-button-icon-wrapper">
											<span class="pbmit-button-icon">
												<i class="pbmit-base-icon-black-arrow-1"></i>
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="pbmit-ihbox-style-15 pbmit-ihbox-style_col2">
								<div class="pbmit-ihbox-box">
									<div class="pbmit-icon-wrap d-flex align-items-center">
										<div class="pbmit-ihbox-icon">
											<div class="pbmit-ihbox-icon-wrapper">
												<div class="pbmit-icon-wrapper pbmit-icon-type-icon">
													<i class="pbmit-xcare-icon pbmit-xcare-icon-appointment"></i>
												</div>
											</div>
										</div>
									</div>
									<h2 class="pbmit-element-title">Əlaqə</h2>
									<div class="pbmit-content-wrapper">
										<div class="pbmit-heading-desc">
											Öncədən qeydiyyat və məlumat almaq üçün <a href="tel:+994 70 773 33 00">+994 70 773 33 00</a> nömrəsi ilə əlaqə saxlaya bilərsiniz
										</div>
									</div>
								</div>
								<div class="pbmit-ihbox-btn">
									<a href="tel:+994 70 773 33 00">
										<span class="pbmit-button-text">Daha ətraflı</span>
										<span class="pbmit-button-icon-wrapper">
											<span class="pbmit-button-icon">
												<i class="pbmit-base-icon-black-arrow-1"></i>
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="pbmit-ihbox-style-15">
								<div class="pbmit-ihbox-box">
									<div class="pbmit-icon-wrap d-flex align-items-center">
										<div class="pbmit-ihbox-icon">
											<div class="pbmit-ihbox-icon-wrapper">
												<div class="pbmit-icon-wrapper pbmit-icon-type-icon">
													<i class="pbmit-xcare-icon pbmit-xcare-icon-placeholder"></i>
												</div>
											</div>
										</div>
									</div>
									<h2 class="pbmit-element-title">Dental Harmony - Ünvan</h2>
									<div class="pbmit-content-wrapper">
										<div class="pbmit-heading-desc">
											Bakı şəhəri,Əhmədli qəsəbəsi,<br> Qədir Məmmədov küçəsi

										</div>
									</div>
								</div>
								<div class="pbmit-ihbox-btn">
									<a href="https://www.google.com/maps/place/Dental+Harmony,+Gadir+Mammadov,+Baku/@40.3665191,49.9449411,18z/data=!4m14!1m7!3m6!1s0x40307b2df9372b3f:0x896ee8c255eb53f4!2sDental+Harmony,+Gadir+Mammadov,+Baku!8m2!3d40.3665191!4d49.9449411!16s%2Fg%2F11kpygn8px!3m5!1s0x40307b2df9372b3f:0x896ee8c255eb53f4!8m2!3d40.3665191!4d49.9449411!16s%2Fg%2F11kpygn8px?hl=tr">
										<span class="pbmit-button-text">Daha ətraflı</span>
										<span class="pbmit-button-icon-wrapper">
											<span class="pbmit-button-icon">
												<i class="pbmit-base-icon-black-arrow-1"></i>
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
            </section>
            <!-- Service End -->

			<!-- About Us Start -->
			<section class="section-lg" style="padding-top:0px;">
				<div class="container">
					<div class="row g-0 align-items-center">
						<div class="col-md-12 col-xl-6">
							<div class="about-us-left_box">
								<div class="about-us_img1 pbmit-animation-style4">
									<img src="{% static 'images/about-horizontal-img.jpg' %}" class="img-fluid" alt="">
								</div>
								<div class="about-us_img2 pbmit-animation-style3">
									<img src="{% static 'images/about-img2.jpg' %}" class="img-fluid" alt="">
								</div>
							</div>
						</div>
						<div class="col-md-12 col-xl-6">
							<div class="about-us-right_box">
								<div class="pbmit-heading-subheading">
									<h4 class="pbmit-subtitle">Dental Harmony</h4>
									<h2 class="pbmit-title">Dental Harmony diş sağlamlığınızın keşiyindədir!</h2>
									<div class="pbmit-heading-desc">
									Stamotoloqlarımız dişlərinizin müayinə və xəstəliklərin müalicəsində tam steril və müasir avadanlıqlardan istifadə edir. Təcrübəli həkimlərimiz tibb sektorunda yüksək peşəkarlıqla xidmət edir, 
									</div>
								</div>
								<div class="row">
									<div class="pbmit-ihbox-style-20 col-md-12">
										<div class="pbmit-ihbox-headingicon">
											<div class="pbmit-ihbox-icon">
												<div class="pbmit-ihbox-icon-wrapper pbmit-ihbox-icon-type-text">01.</div>
											</div>
											<div class="pbmit-ihbox-contents">
												<h2 class="pbmit-element-title">
													Zəmanətli xidmət
												</h2>
											</div>	
										</div>
									</div>
									<div class="pbmit-ihbox-style-20 col-md-12">
										<div class="pbmit-ihbox-headingicon">
											<div class="pbmit-ihbox-icon">
												<div class="pbmit-ihbox-icon-wrapper pbmit-ihbox-icon-type-text">02.</div>
											</div>
											<div class="pbmit-ihbox-contents">
												<h2 class="pbmit-element-title">
													Steril mühit
												</h2>
											</div>	
										</div>
									</div>
								</div>
								<a class="pbmit-btn" href="about-us.html">
									<span class="pbmit-button-content-wrapper">
										<span class="pbmit-button-icon pbmit-align-icon-right">
											<svg xmlns="http://www.w3.org/2000/svg" width="22.76" height="22.76" viewBox="0 0 22.76 22.76">
												<title>black-arrow</title>
												<path d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
												<path d="M22.34,1a14.67,14.67,0,0,0,0,20.75" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
												<path d="M22.34,1,1,22.34" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
											</svg>
										</span>
										<span class="pbmit-button-text">İndi müraciət et!</span>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- About Us End -->

		

	

		</div>
		<!-- Page Content End -->

		<!-- footer -->
	{% include 'footer.html' %}
		<!-- footer End -->

		<!-- Search Box Start Here -->
		<div class="pbmit-search-overlay">
			<div class="pbmit-icon-close">
				<svg class="qodef-svg--close qodef-m" xmlns="http://www.w3.org/2000/svg" width="28.163" height="28.163" viewBox="0 0 26.163 26.163">
					<rect width="36" height="1" transform="translate(0.707) rotate(45)"></rect>
					<rect width="36" height="1" transform="translate(0 25.456) rotate(-45)"></rect>
				</svg>
			</div>
			<div class="pbmit-search-outer"> 
				<form class="pbmit-site-searchform">
					<input type="search" class="form-control field searchform-s" name="s" placeholder="Search …">
					<button type="submit"></button>
				</form>
			</div>
		</div>
		<!-- Search Box End Here -->

		<!-- Scroll To Top -->
		<div class="pbmit-progress-wrap">
			<svg class="pbmit-progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
				<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
			</svg>	
		</div>
		<!-- Scroll To Top End -->
         
        </div>
        <!-- Page Wrapper End -->

    <!-- JS 
        ============================================ -->
	<!-- jQuery JS -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- Popper JS -->
	<script src="{% static 'js/popper.min.js' %}"></script>
	<!-- Bootstrap JS -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- jquery Waypoints JS -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- jquery Appear JS -->
	<script src="{% static 'js/jquery.appear.js' %}"></script>
	<!-- Numinate JS -->
	<script src="{% static 'js/numinate.min.js' %}"></script>
	<!-- Slick JS -->
	<script src="{% static 'js/swiper.min.js' %}"></script>
	<!-- Magnific JS -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<!-- Circle Progress JS -->
	<script src="{% static 'js/circle-progress.js' %}"></script> 
	<!-- countdown JS -->
	<script src="{% static 'js/jquery.countdown.min.js' %}"></script> 
	<!-- AOS -->
	<script src="{% static 'js/aos.js' %}"></script>
	<!-- GSAP -->
	<script src='{% static 'js/gsap.js' %}'></script>
	<!-- Scroll Trigger -->
	<script src='{% static 'js/ScrollTrigger.js' %}'></script>
	<!-- Split Text -->
	<script src='{% static 'js/SplitText.js' %}'></script>
	<!-- Magnetic -->
	<script src='{% static 'js/magnetic.js' %}'></script>
	<!-- GSAP Animation -->
	<script src='{% static 'js/gsap-animation.js' %}'></script>
	<!-- Scripts JS -->
	<script src="{% static 'js/scripts.js' %}"></script>

   </body>


</html>