{% load static %}
<header class="site-header header-style-2">
    <div class="container-fluid">
        <div class="pbmit-header-content d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="site-navigation">
                    <nav class="main-menu navbar-expand-xl navbar-light">
                        <div class="navbar-header">
                            <!-- Toggle Button --> 
                            <button class="navbar-toggler" type="button">
                                <i class="pbmit-base-icon-menu-1"></i>
                            </button>
                        </div>
                        <div class="pbmit-mobile-menu-bg"></div>
                        <div class="collapse navbar-collapse clearfix show" id="pbmit-menu">
                            <div class="pbmit-menu-wrap">
                                <span class="closepanel">
                                    <svg class="qodef-svg--close qodef-m" xmlns="http://www.w3.org/2000/svg" width="20.163" height="20.163" viewBox="0 0 26.163 26.163">
                                        <rect width="36" height="1" transform="translate(0.707) rotate(45)"></rect>
                                        <rect width="36" height="1" transform="translate(0 25.456) rotate(-45)"></rect>
                                    </svg>
                                </span>
                                <ul class="navigation clearfix">
                                    <li class="dropdown {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
                                        <a href="{% url 'home' %}">Ana səhifə</a>
                                        
                                    </li>
                                    <li class="dropdown {% if request.resolver_match.url_name == 'about' %} active {% endif %}">
                                        <a href="{% url 'about' %}">Haqqımızda</a>
                                       
                                    </li>
                                    <li class="dropdown {% if request.resolver_match.url_name == 'services' %} active {% endif %}">
                                        <a href="{% url 'services' %}">Xidmətlər</a>
                                      
                                    </li>
                                    <li class="dropdown">
                                        <a href="{% url 'team' %}">Həkimlər</a>
                                       
                                    </li>
                                    <li class="dropdown {% if request.resolver_match.url_name == 'blogs' %} active {% endif %}">
                                        <a href="{% url 'blogs' %}">Bloqlar</a>
                                      
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == 'contact' %} active {% endif %}"><a href="{% url 'contact' %}">Əlaqə</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="pbmit-logo-menuarea d-flex align-items-center">
                <div class="site-branding">
                    <h1 class="site-title">
                        <a href="{% url 'home' %}">
                            <img class="pbmit-sticky-logo" src="{% static 'logo.png' %}" alt="Dental Harmony">
                        </a>
                    </h1>
                </div>
            </div>
            <div class="pbmit-right-box d-flex align-items-center">
                <div class="pbmit-button-box">
                    <div class="pbmit-header-button">
                        <a href="tel:+994 70 7733300">
                            <span class="pbmit-header-button-text-1">+994 70 7733300</span>		
                        </a>
                    </div>
                </div>
                
                <div class="pbmit-button-box-second">
                    <a class="pbmit-btn" href="tel:+994 70 773 33 00">
                        <span class="pbmit-button-content-wrapper">
                            <span class="pbmit-button-icon pbmit-align-icon-right">
                                <i class="fa-solid fa-phone"></i>
                            </span>
                            <span class="pbmit-button-text">+994 70 773 33 00</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>