<!doctype html>
{% load static %}
<html class="no-js" lang="az">
	
<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Dental Harmony - Sağlamlığınızı bizə əmanət edin</title>
		<meta name="robots" content="noindex, follow">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/fevicon.png' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<!-- CSS
			============================================ -->
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- Fontawesome -->
		<link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
		<!-- Flaticon -->
		<link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
		<!-- Base Icons -->
		<link rel="stylesheet" href="{% static 'css/pbminfotech-base-icons.css' %}">
		<!-- Themify Icons -->
		<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
		<!-- Slick -->
		<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
		<!-- Magnific -->
		<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<!-- AOS -->
		<link rel="stylesheet" href="{% static 'css/aos.css' %}">
		<!-- Shortcode CSS -->
		<link rel="stylesheet" href="{% static 'css/shortcode.css' %}">
		<!-- Base CSS -->
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		<!-- Style CSS -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	</head>
	<body>

	<!-- page wrapper -->
	<div class="page-wrapper pbmit-bg-color-light">
<style>
	@media (max-width: 1280px) and (min-width: 1199px){
	.pbmit-button-box-second{
		display:none;
	}
}
</style>
	<!-- Header Main Area -->
<header class="site-header header-style-2">
    <div class="container-fluid">
        <div class="pbmit-header-content d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="site-navigation">
                    <nav class="main-menu navbar-expand-xl navbar-light">
                        <div class="navbar-header">
                            <!-- Toggle Button --> 
                            <button class="navbar-toggler" type="button">
                                <i class="pbmit-base-icon-menu-1"></i>
                            </button>
                        </div>
                        <div class="pbmit-mobile-menu-bg"></div>
                        <div class="collapse navbar-collapse clearfix show" id="pbmit-menu">
                            <div class="pbmit-menu-wrap">
                                <span class="closepanel">
                                    <svg class="qodef-svg--close qodef-m" xmlns="http://www.w3.org/2000/svg" width="20.163" height="20.163" viewBox="0 0 26.163 26.163">
                                        <rect width="36" height="1" transform="translate(0.707) rotate(45)"></rect>
                                        <rect width="36" height="1" transform="translate(0 25.456) rotate(-45)"></rect>
                                    </svg>
                                </span>
								<ul class="navigation clearfix">
                                    <li class="dropdown {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
                                        <a href="{% url 'home' %}">Ana səhifə</a>
                                        
                                    </li>
                                    <li class="dropdown {% if request.resolver_match.url_name == 'about' %} active {% endif %}">
                                        <a href="{% url 'about' %}">Haqqımızda</a>
                                       
                                    </li>
                                    <li class="dropdown {% if request.resolver_match.url_name == 'services' %} active {% endif %}">
                                        <a href="{% url 'services' %}">Xidmətlər</a>
                                      
                                    </li>
                                    <li class="dropdown">
                                        <a href="{% url 'team' %}">Həkimlər</a>
                                       
                                    </li>
                                    <li class="dropdown {% if request.resolver_match.url_name == 'blogs' %} active {% endif %}">
                                        <a href="{% url 'blogs' %}">Bloqlar</a>
                                      
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == 'contact' %} active {% endif %}"><a href="{% url 'contact' %}">Əlaqə</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="pbmit-logo-menuarea d-flex align-items-center">
                <div class="site-branding">
                    <h1 class="site-title">
                        <a href="index-2.html">
                            <img class="pbmit-sticky-logo" src="{% static 'logo.png' %}" alt="Dental Harmony">
                        </a>
                    </h1>
                </div>
            </div>
            <div class="pbmit-right-box d-flex align-items-center">
                <div class="pbmit-button-box">
					<div class="pbmit-header-button">
                        <a href="tel:+994 70 7733300">
                            <span class="pbmit-header-button-text-1">+994 70 7733300</span>		
                        </a>
                    </div>
                </div>
                <div class="pbmit-header-search-btn">
                    <a href="#" title="Search">
                        <i class="pbmit-base-icon-search-1"></i>
                    </a>
                </div>
                <div class="pbmit-button-box-second">
                    <a class="pbmit-btn" href="tel:+994 70 773 33 00">
                        <span class="pbmit-button-content-wrapper">
                            <span class="pbmit-button-icon pbmit-align-icon-right">
                                <i class="fa-solid fa-phone"></i>
                            </span>
                            <span class="pbmit-button-text">+994 70 773 33 00</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="pbmit-slider-social">
        <a title="Facebook" href="#" target="_blank">
            <span><i class="pbmit-base-icon-facebook-f"></i></span>
        </a>
      
        <a title="LinkedIn" href="#" target="_blank">
            <span><i class="pbmit-base-icon-linkedin-in"></i></span>
        </a>
        <a title="Instagram" href="#" target="_blank">
            <span><i class="pbmit-base-icon-instagram"></i></span>
        </a>
	
    </div>
    <div class="pbmit-slider-area pbmit-slider-one">
        <div class="swiper-slider" data-autoplay="true" data-loop="true" data-dots="true" data-arrows="false" data-columns="1" data-margin="0" data-effect="fade">
            <div class="swiper-wrapper">
                <!-- Slider -->
				{% for slide in slider %}
                <div class="swiper-slide">
                    <div class="pbmit-slider-item">
                        <div class="pbmit-slider-bg" style="background-image: url({{ slide.image.url }});"></div>
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <div class="pbmit-slider-content">
                                        <h5 class="pbmit-sub-title transform-top transform-delay-1">{{ slide.miniTitle }}</h5>
                                        <h2 class="pbmit-title transform-bottom transform-delay-2">{{ slide.title|safe }} </h2>
                                        <div class="pbmit-button transform-bottom transform-delay-3">
                                            <a class="pbmit-btn pbmit-btn-outline" href="about-us.html">
                                                <span class="pbmit-button-content-wrapper">
                                                    <span class="pbmit-button-icon pbmit-align-icon-right">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="22.76" height="22.76" viewBox="0 0 22.76 22.76">
                                                            <title>black-arrow</title>
                                                            <path d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                                            <path d="M22.34,1a14.67,14.67,0,0,0,0,20.75" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                                            <path d="M22.34,1,1,22.34" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                                        </svg>
                                                    </span>
                                                    <span class="pbmit-button-text">Daha ətraflı</span>
                                                </span>
                                            </a>
                                            <a class="pbmit-btn" href="contact-us.html">
                                                <span class="pbmit-button-content-wrapper">
                                                    <span class="pbmit-button-icon pbmit-align-icon-right">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="22.76" height="22.76" viewBox="0 0 22.76 22.76">
                                                            <title>black-arrow</title>
                                                            <path d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                                            <path d="M22.34,1a14.67,14.67,0,0,0,0,20.75" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                                            <path d="M22.34,1,1,22.34" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                                        </svg>
                                                    </span>
                                                    <span class="pbmit-button-text">Əlaqə</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				{% endfor %}
                <!-- Slider -->
               
            </div>
        </div>
    </div>
</header>
<!-- Header Main Area End Here -->

		<!-- page content -->
		<div class="page-content">

			<!-- Inner Box Start --> 
			<section class="section-xl inner-box_area">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-4 position-relative">
							<div class="pbmit-widget_icon">
								<div class="pbmit_icon">
									<i class="pbmit-xcare-icon pbmit-xcare-icon-appointment"></i>
								</div>
							</div>
							<div class="inner-box_style inner-box_1">
								<div class="pbmit-heading_title">
									<h5>İş saatları</h5>	
								</div>
								<ul class="pbmit-timelist-list">
									<li>
										<span class="pbmit-timelist-li-title">Həftən içi</span>
										<span class="pbmit-timelist-li-value">09:00 - 18:00</span>
									</li>
									<li>
										<span class="pbmit-timelist-li-title">Həftə sonu</span>
										<span class="pbmit-timelist-li-value">09:30 - 17:30</span>
									</li>
							
								
								</ul>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 position-relative">
							<div class="pbmit-widget_icon">
								<div class="pbmit_icon">
									<i class="pbmit-xcare-icon pbmit-xcare-icon-placeholder"></i>
								</div>
							</div>
							<div class="inner-box_style inner-box_2">
								<div class="pbmit-heading_title">
									<h5>Ünvan </h5>	
								</div>
								<div class="pbmit-text_aditor">
									Əhmədli, Qədir Məmmədov küçəsi
								</div>
								<a class="pbmit-btn pbmit-btn-outline" href="https://www.google.com/maps/place/Dental+Harmony,+Gadir+Mammadov,+Baku/@40.3665191,49.9449411,18z/data=!4m14!1m7!3m6!1s0x40307b2df9372b3f:0x896ee8c255eb53f4!2sDental+Harmony,+Gadir+Mammadov,+Baku!8m2!3d40.3665191!4d49.9449411!16s%2Fg%2F11kpygn8px!3m5!1s0x40307b2df9372b3f:0x896ee8c255eb53f4!8m2!3d40.3665191!4d49.9449411!16s%2Fg%2F11kpygn8px?hl=tr">
									<span class="pbmit-button-content-wrapper">
										<span class="pbmit-button-icon pbmit-align-icon-right">
											<svg xmlns="http://www.w3.org/2000/svg" width="22.76" height="22.76" viewBox="0 0 22.76 22.76">
												<title>black-arrow</title>
												<path d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
												<path d="M22.34,1a14.67,14.67,0,0,0,0,20.75" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
												<path d="M22.34,1,1,22.34" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
											</svg>
										</span>
										<span class="pbmit-button-text">Ünvana bax</span>
									</span>
								</a>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 position-relative">
							<div class="pbmit-widget_icon">
								<div class="pbmit_icon">
									<i class="pbmit-xcare-icon pbmit-xcare-icon-doctor"></i>
								</div>
							</div>
							<div class="inner-box_style inner-box_3">
								<div class="pbmit-bg_overlay"></div>
								<div class="pbmit-heading_title">
									<h5>Əlaqə </h5>	
								</div>
								{% comment %} <div class="pbmit-text_aditor">
									Öncədən həkim qəbuluna yazılmağınız 
								</div> {% endcomment %}
								<div class="pbmit-ihbox-style-19">
									<div class="pbmit-ihbox-box">
										<div class="pbmit-ihbox-icon">
											<div class="pbmit-ihbox-icon-wrapper">
												<div class="pbmit-icon-wrapper pbmit-icon-type-icon">
													<i class="pbmit-xcare-icon pbmit-xcare-icon-live-chat"></i>
												</div>
											</div>
										</div>
										<div class="pbmit-ihbox-contents">
											<h4 class="pbmit-element-heading">
												Əlaqə nömrəsi
											</h4>
											<h2 class="pbmit-element-title">+994 70 773 33 00</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Inner Box end --> 

			<!-- About Us Start --> 
			<section>
				<div class="container">
					<div class="row g-0 align-items-center">
						<div class="col-md-12 col-xl-6">
							<div class="about-one_img">
								<div class="about-one_fidbox">
									<div class="pbminfotech-ele-fid-style-2">
										<div class="pbmit-fld-contents">
											<div class="pbmit-fld-wrap">
												<h4 class="pbmit-fid-inner">
													<span class="pbmit-fid-before"></span>
													<span class="pbmit-number-rotate numinate completed" data-appear-animation="animateDigits" data-from="0" data-to="235" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">235</span>
													<span class="pbmit-fid"><sup>+</sup></span>
												</h4>
												<div class="pbmit-fid-sub">
													<div class="pbmit-heading-desc">Xoşbəxt müştərilər</div>
												</div>
											</div>
										</div>
										<div class="pbmit-sticky-corner  pbmit-bottom-left-corner">
											<svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
												<path d="M30 30V0C30 16 16 30 0 30H30Z"></path>
											</svg>
										</div>
										<div class="pbmit-sticky-corner pbmit-top-right-corner">
											<svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
												<path d="M30 30V0C30 16 16 30 0 30H30Z"></path>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-xl-6">
							<div class="about-one-rightbox">
								<div class="pbmit-heading-subheading animation-style3">
									<h4 class="pbmit-subtitle">Haqqımızda</h4>
									<h2 class="pbmit-title" style="perspective: 400px;">Diş sağlamlığınızı peşəkar stamotoloqlara əmanət edin.</h2>
									<div class="pbmit-heading-desc">
										Dental Harmony stamtoloji bir çox xidməti özündə birləşdirən klinikadır. Klinika Avropa standartlarına uyğun xidmətləri özündə birləşdirən kompleks həllərlə xidmətinizdədir. Xidmətlərimizə ortopedik, preventiv, estetik stomatologiya və həmçinin, ağız cərrahiyyəsi, implantologiya daxildir. Əlavə olaraq bizim göstərdiyimiz xidmətlər ən yüksək standartlara cavab verən müasir və steril avadanlıqlarla həyata keçirilir.
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<ul class="list-group list-group-borderless">
											<li class="list-group-item">
												<span class="pbmit-icon-list-icon">
													<i aria-hidden="true" class="ti-check"></i>
												</span>
												<span class="pbmit-icon-list-text">Terapiya</span>
											</li>
											<li class="list-group-item">
												<span class="pbmit-icon-list-icon">
													<i aria-hidden="true" class="ti-check"></i>
												</span>
												<span class="pbmit-icon-list-text">Ortopediya</span>
											</li>
											<li class="list-group-item">
												<span class="pbmit-icon-list-icon">
													<i aria-hidden="true" class="ti-check"></i>
												</span>
												<span class="pbmit-icon-list-text">Ortodontiya</span>
											</li>
											
										</ul>
									</div>
									<div class="col-md-6">
										<ul class="list-group list-group-borderless">
											<li class="list-group-item">
												<span class="pbmit-icon-list-icon">
													<i aria-hidden="true" class="ti-check"></i>
												</span>
												<span class="pbmit-icon-list-text">Uşaq stomatologiyası</span>
											</li>
											<li class="list-group-item">
												<span class="pbmit-icon-list-icon">
													<i aria-hidden="true" class="ti-check"></i>
												</span>
												<span class="pbmit-icon-list-text">Estetik restavrasiya</span>
											</li>
											<li class="list-group-item">
												<span class="pbmit-icon-list-icon">
													<i aria-hidden="true" class="ti-check"></i>
												</span>
												<span class="pbmit-icon-list-text">İmplantologiya</span>
											</li>
										</ul>
									</div>
								</div>
								<div class="about-one_btn">
									<a class="pbmit-btn" href="about-us.html">
										<span class="pbmit-button-content-wrapper">
											<span class="pbmit-button-icon pbmit-align-icon-right">
												<svg xmlns="http://www.w3.org/2000/svg" width="22.76" height="22.76" viewBox="0 0 22.76 22.76">
													<title>black-arrow</title>
													<path d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
													<path d="M22.34,1a14.67,14.67,0,0,0,0,20.75" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
													<path d="M22.34,1,1,22.34" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
												</svg>
											</span>
											<span class="pbmit-button-text">Daha ətraflı</span>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- About Us end --> 

			<!-- Marquee Start --> 
            <section class="section-xl">
				<div class="container-fluid p-0">
					<div class="swiper-slider marquee">
						<div class="swiper-wrapper">
							<!-- Slide1 -->
							<div class="swiper-slide">
								<article class="pbmit-marquee-effect-style-1">
									<div class="pbmit-tag-wrapper">
										<h2 class="pbmit-element-title" data-text="Dental">
											Dental
										</h2>
									</div>
								</article>
							</div>
							<!-- Slide2 -->
							<div class="swiper-slide">
								<article class="pbmit-marquee-effect-style-1">
									<div class="pbmit-tag-wrapper">
										<h2 class="pbmit-element-title" data-text="Harmony">
											Harmony
										</h2>
									</div>
								</article>
							</div>
							<!-- Slide3 -->
							<div class="swiper-slide">
								<article class="pbmit-marquee-effect-style-1">
									<div class="pbmit-tag-wrapper">
										<h2 class="pbmit-element-title" data-text="Dental">
											Dental
										</h2>
									</div>
								</article>
							</div>
							<!-- Slide4 -->
							<div class="swiper-slide">
								<article class="pbmit-marquee-effect-style-1">
									<div class="pbmit-tag-wrapper">
										<h2 class="pbmit-element-title" data-text="Harmony">
											Harmony
										</h2>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
            </section>
            <!-- Marquee End -->
 			<!-- Services Start -->
			<section class="section-xl pbmit-bg-color-global pbmit-extend-animation service-one_bg" id="pbmit-service-scroll" style="clip-path: inset(0%);">
				<div class="container pbmit-col-stretched-yes pbmit-col-right">
					<div class="position-relative">
						<div class="pbmit-heading-subheading text-white animation-style3">
							<h4 class="pbmit-subtitle">Xidmətlərimiz</h4>
							<h2 class="pbmit-title" style="perspective: 400px;">Stomatoloji xidmətlər</h2>
						</div>
						<div class="service_arrow swiper-btn-custom d-flex flex-row-reverse">
						</div>
					</div>
					<div class="pbmit-col-stretched-right" style="margin-right: -437px;">
						<div class="swiper-slider pbmit-element-viewtype-carousel-3 swiper-initialized swiper-horizontal swiper-pointer-events" data-arrows-class="service_arrow" data-autoplay="false" data-loop="false" data-dots="false" data-arrows="true" data-columns="3.6" data-margin="30" data-effect="slide">
							<div class="swiper-wrapper" id="swiper-wrapper-4ff434864965bfca" aria-live="polite" style="transform: translate3d(-1244.67px, 0px, 0px); transition-duration: 0ms;">
								<!-- Slide1 -->
								{% for service in services %}
								<div class="swiper-slide" role="group" aria-label="{{ forloop.counter }} / 6" style="width: 488.611px; margin-right: 30px;">
									<article class="pbmit-service-style-2">
										<div class="pbminfotech-post-item">
											<div class="pbminfotech-box-content">
												<div class="pbmit-service-image-wrapper">
													<div class="pbmit-featured-img-wrapper">
														<div class="pbmit-featured-wrapper">
															<img src="{{ service.image.url }}" class="img-fluid" alt="{{ service.title }}">
														</div>
													</div>
													<a class="pbmit-service-btn" href="service-details.html" title="{{ service.title }}">
														<span class="pbmit-button-icon-wrapper">
															<span class="pbmit-button-icon">
																<i class="pbmit-base-icon-black-arrow-1"></i>
															</span>
														</span>
													</a>
												</div>
												<div class="pbmit-contant-box">
													<div class="pbmit-service-icon elementor-icon">
														<i class="pbmit-xcare-icon pbmit-xcare-icon-gesundheit-1"></i>			
													</div>
													<div class="pbmit-serv-cat">
														<a href="service-details.html" rel="tag">{{ service.title }}</a>
													</div>
													<h3 class="pbmit-service-title">
														<a href="service-details.html">{{ service.title }}</a>
													</h3>
												</div>
											</div>
											<a class="pbmit-link" href="service-details.html"></a>
										</div>
									</article>
								</div>
								{% endfor %}
							</div>
						<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
					</div>
				</div>
			</section>
		<!-- Services End -->

			
			<!-- Portfolio Start -->
			<section class="section-lgt portfolio_two">
				<div class="container">
					<div class="pbmit-heading-subheading animation-style2">
						<h4 class="pbmit-subtitle">Dental Harmony</h4>
						<h2 class="pbmit-title" style="perspective: 400px;">Həkimlər</h2>
					</div>
					<div class="swiper-slider portfolio-two_slider" data-autoplay="false" data-loop="true" data-dots="false" data-arrows="false" data-columns="4" data-margin="30" data-effect="slide">
						<div class="swiper-wrapper">
							{% for doctor in doctors %}
							<div class="swiper-slide">
								<article class="pbmit-portfolio-style-2">
									<div class="pbminfotech-post-content">
										<div class="pbmit-featured-img-wrapper">
											<div class="pbmit-featured-wrapper">
												<img src="{{ doctor.image.url }}" class="img-fluid" alt="{{ doctor.full_name }}">
											</div>
										</div>
										<div class="pbminfotech-box-content">
											<div class="pbminfotech-titlebox">
												<div class="pbmit-port-cat">
													<a href="portfolio-grid-col-3.html" rel="tag">{{ doctor.speciality }}</a>
												</div>
												<h3 class="pbmit-portfolio-title">
													<a href="single-detail-style-01.html">{{ doctor.full_name }}</a>
												</h3>
											</div>
										</div>
									</div>
								</article>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</section>
			<!-- Portfolio End -->

		
			
			<!-- Ihbox Style Start -->
			<section class="section-xl" style="padding-bottom:0px;">
				<div class="container">
					<div class="row g-0">
						<div class="col-md-12 col-xl-6">
							<div class="ihbox-style-4_bg pbmit-text-color-white">
								<div class="pbmit-ihbox-style-4">
									<div class="pbmit-ihbox-headingicon">
									   <h4 class="pbmit-element-heading">
										 Dental Harmony
									   </h4>
									   <h2 class="pbmit-element-title">Sağlamlığınızı bizə <br> əmanət edin!</h2>
										<div class="pbmit-ihbox-btn">
											<a href="our-history.html">
												<span class="pbmit-button-text">Müraciət et!</span>
												<span class="pbmit-button-icon-wrapper">
													<span class="pbmit-button-icon">
														<i class="pbmit-base-icon-black-arrow-1"></i>
													</span>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-xl-6">
							<div class="pbmit-ihbox-style-5_bg pbmit-bg-color-global">
								<div class="pbmit-ihbox-style-5">
									<div class="pbmit-ihbox-box d-flex align-items-center">
										<div class="pbmit-ihbox-icon">
											<div class="pbmit-ihbox-icon-wrapper">
												<div class="pbmit-icon-wrapper pbmit-icon-type-icon">
													<i class="pbmit-xcare-icon pbmit-xcare-icon-subscribe"></i>
												</div>
											</div>
										</div>
										<div class="pbmit-ihbox-contents">
											<h2 class="pbmit-element-title">Yeniliklərdən <br> bizimlə xəbərdar ol!</h2>
										</div>
									</div>
								</div>
								<form>
									<div class="pbmit-footer-newsletter">
										<input type="email" name="EMAIL" placeholder="E-poçt ünvanı" required="">
										<button class="pbmit-button">
											<span class="pbmit-button-text">Abunə ol!</span>
											<span class="pbmit-btn-content-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-base-icon-black-arrow-1"></i>
												</span>
											</span>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Ihbox Style Start -->

			<!-- Blog Start -->
			<section class="section-xl">
				<div class="container">
					<div class="position-relative">
						<div class="pbmit-heading-subheading animation-style2">
							<h4 class="pbmit-subtitle">Bloqlar</h4>
							<h2 class="pbmit-title" style="perspective: 400px;">Bloqlar</h2>
						</div>
						<div class="blog-swiper_arrow swiper-btn-custom d-flex flex-row-reverse"><div class="swiper-buttons"></div></div>
					</div>
					<div class="swiper-slider pbmit-element-viewtype-carousel-5 swiper-initialized swiper-horizontal swiper-pointer-events" data-arrows-class="blog-swiper_arrow" data-autoplay="false" data-loop="false" data-dots="false" data-arrows="true" data-columns="2" data-margin="30" data-effect="slide">
						<div class="swiper-wrapper" id="swiper-wrapper-e44eefcde3d3274f" aria-live="polite" style="transform: translate3d(-1430px, 0px, 0px); transition-duration: 0ms;">
							<!-- Slide1 -->
							{% for blog in blogs %}
							<div class="swiper-slide" role="group" aria-label="{{ forloop.counter }} / 6" style="width: 685px; margin-right: 30px;">
								<article class="pbmit-blog-style-2">
									<div class="post-item d-flex">
										<div class="pbmit-featured-container">
											<div class="pbmit-bg-image" style="background-image:url({{ blog.image.url }})">
												<div class="pbmit-featured-img-wrapper">
													<div class="pbmit-featured-wrapper">
														<img src="{{ blog.image.url }}" class="img-fluid" alt="">
													</div>
												</div>
											</div>
										</div>
										<div class="pbminfotech-box-wrap">
											<div class="pbminfotech-box-content">
												<div class="pbmit-date-admin-wraper d-flex align-items-center">
													<div class="pbmit-meta-date pbmit-meta-line">
														<span class="pbmit-post-date">
															<i class=" pbmit-base-icon-calendar-3"></i>{{ blog.created_at }}
														</span>
													</div>
													<div class="pbmit-meta-author pbmit-meta-line">
														<span class="pbmit-post-author">
															<i class="pbmit-base-icon-comment"></i>{{ blog.category.title }}
														</span>
													</div>
												</div>
												<h3 class="pbmit-post-title">
													<a href="blog-details.html">{{ blog.title }}</a>
												</h3>
												<div class="pbminfotech-box-desc">
											{{ blog.content|slice:160 }}...
												</div>
											</div>
											<a class="pbmit-blog-btn" href="blog-details.html">
												<span class="pbmit-button-icon-wrapper">
													<span class="pbmit-button-icon">
														<i class="pbmit-base-icon-black-arrow-1"></i>
													</span>
												</span>
											</a>
										</div>	
									</div>
								</article>
							</div>
							{% endfor %}
						</div>
					<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
				</div>
			</section>
			<!-- Blog End -->

		</div>
		<!-- page content End -->

		<!-- footer -->
	{% include 'footer.html' %}
		<!-- footer End -->

	</div>
	<!-- page wrapper End -->

	<!-- Search Box Start Here -->
	<div class="pbmit-search-overlay">
		<div class="pbmit-icon-close">
			<svg class="qodef-svg--close qodef-m" xmlns="http://www.w3.org/2000/svg" width="28.163" height="28.163" viewBox="0 0 26.163 26.163">
				<rect width="36" height="1" transform="translate(0.707) rotate(45)"></rect>
				<rect width="36" height="1" transform="translate(0 25.456) rotate(-45)"></rect>
			</svg>
		</div>
		<div class="pbmit-search-outer"> 
			<form class="pbmit-site-searchform">
				<input type="search" class="form-control field searchform-s" name="s" placeholder="Search …">
				<button type="submit"></button>
			</form>
		</div>
	</div>
	<!-- Search Box End Here -->

	<!-- Scroll To Top -->
	<div class="pbmit-progress-wrap">
		<svg class="pbmit-progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
		</svg>	
	</div>
	<!-- Scroll To Top End -->
	
	<!-- JS
		============================================ -->
	<!-- jQuery JS -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- Popper JS -->
	<script src="{% static 'js/popper.min.js' %}"></script>
	<!-- Bootstrap JS -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- jquery Waypoints JS -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- jquery Appear JS -->
	<script src="{% static 'js/jquery.appear.js' %}"></script>
	<!-- Numinate JS -->
	<script src="{% static 'js/numinate.min.js' %}"></script>
	<!-- Slick JS -->
	<script src="{% static 'js/swiper.min.js' %}"></script>
	<!-- Magnific JS -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<!-- Circle Progress JS -->
	<script src="{% static 'js/circle-progress.js' %}"></script> 
	<!-- countdown JS -->
	<script src="{% static 'js/jquery.countdown.min.js' %}"></script> 
	<!-- AOS -->
	<script src="{% static 'js/aos.js' %}"></script>
	<!-- GSAP -->
	<script src="{% static 'js/gsap.js' %}"></script>
	<!-- Scroll Trigger -->
	<script src="{% static 'js/ScrollTrigger.js' %}"></script>
	<!-- Split Text -->
	<script src="{% static 'js/SplitText.js' %}"></script>
	<!-- Magnetic -->
	<script src="{% static 'js/magnetic.js' %}"></script>
	<!-- GSAP Animation -->
	<script src="{% static 'js/gsap-animation.js' %}"></script>
	<!-- Scripts JS -->
	<script src="{% static 'js/scripts.js' %}"></script>

	</body>

</html>